@model LightsAndBites.Models.Events

@{
    ViewData["Title"] = "Details";
}

<div>
    <h2>@Model.Name</h2>
    <hr />
    <div class="card overlay" style="width: 100%; padding-left:10px;">

        <br><br />
        <div style="text-align:center;">
            @{
                string embeddedmapsURL;
                string modelName;
                modelName = Model.Name.Replace(" ", String.Empty);

                embeddedmapsURL = @"https://www.google.com/maps/embed/v1/place?q=" + modelName + "+" + Model.City.CityName + "&key=" + LightsAndBites.ApiKeys.ApiKey.mapsKey;

            }
            <iframe width="600"
                    height="450"
                    frameborder="0" style="border:0"
                    src=@embeddedmapsURL allowfullscreen>

            </iframe>


            <hr style="width:75%; text-align:right" />
        </div>
    </div>
</div>
<br />
<div>
    <a href=@Url.Action("Index","Recommendations") class="btn btn-primary">Back to Recommendations</a>
</div>
