@model LightsAndBites.Models.UserProfile

@{
    Layout = "_SignedInLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>UserProfile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hometown" class="control-label"></label>
                <input asp-for="Hometown" class="form-control" />
                <span asp-validation-for="Hometown" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BarCategoryIdOne" class="control-label"></label>
                <input asp-for="BarCategoryIdOne" class="form-control" />
                <span asp-validation-for="BarCategoryIdOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BarCategoryIdTwo" class="control-label"></label>
                <input asp-for="BarCategoryIdTwo" class="form-control" />
                <span asp-validation-for="BarCategoryIdTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestaurantCategoryIdOne" class="control-label"></label>
                <input asp-for="RestaurantCategoryIdOne" class="form-control" />
                <span asp-validation-for="RestaurantCategoryIdOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestaurantCategoryIdTwo" class="control-label"></label>
                <input asp-for="RestaurantCategoryIdTwo" class="form-control" />
                <span asp-validation-for="RestaurantCategoryIdTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestaurantCategoryIdThree" class="control-label"></label>
                <input asp-for="RestaurantCategoryIdThree" class="form-control" />
                <span asp-validation-for="RestaurantCategoryIdThree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventCategoryIdOne" class="control-label"></label>
                <input asp-for="EventCategoryIdOne" class="form-control" />
                <span asp-validation-for="EventCategoryIdOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventCategoryIdTwo" class="control-label"></label>
                <input asp-for="EventCategoryIdTwo" class="form-control" />
                <span asp-validation-for="EventCategoryIdTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventCategoryIdThree" class="control-label"></label>
                <input asp-for="EventCategoryIdThree" class="form-control" />
                <span asp-validation-for="EventCategoryIdThree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
